@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Averia+Serif+Libre|Barlow");/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}/* HTML5 display-role reset for older browsers */article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

body {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main {
  padding-top: 77px;
}

.background--strips {
  background-image: url(../images/layout/background_320px.jpg);
  background-size: 100%;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header__block--outer {
  background-color: #158C3F;
}

.header__block--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #e11b1c;
  height: 53px;
  padding-left: 31px;
}

.header__title {
  font-family: "Barlow", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.59);
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.59);
}

.header__img {
  display: inline;
  height: 53px;
}

.header__titlebar {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.78;
  color: #158C3F;
  background-color: #C4E2CF;
  height: 24px;
  padding: 5px 31px;
}

.nav {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #e4e4e4;
  width: 100%;
}

.nav__link {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #158C3F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 25px;
  width: 33.333%;
  border: 1px solid black;
  text-decoration: none;
}

.nav__link:hover {
  background-color: #ffffff;
  border-bottom: 0;
  color: #a11b1b;
}

.footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 69px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #ffffff;
}

.footer__img {
  z-index: 1;
  position: absolute;
  left: 31px;
  bottom: 7px;
  height: 61px;
}

.footer__block--red {
  background-color: #e11b1c;
  height: 100%;
  width: 46px;
}

.footer__block--green {
  background-color: #158C3F;
  height: 100%;
  width: calc(100vw - 15px - 2px - 31px);
  padding: 10px 0;
}

.footer__txt {
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  z-index: 1;
  padding-right: 31px;
  text-align: right;
}

.footer__whitebar {
  position: absolute;
  bottom: 7px;
  background-color: #ffffff;
  height: 13px;
  width: 100%;
}

.blog__outer {
  position: relative;
  height: calc(100vh - 32px);
  width: calc(100vw - (31px * 2));
  margin: 0 auto;
  margin-top: 25px;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.blog__inner {
  position: absolute;
  top: -390px;
  left: -4px;
  height: calc(100% + 400px);
  width: 100%;
}

.players {
  margin: 40px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.player__outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #e4e4e4;
}

.player--order-01 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.player--order-02 {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.player--order-03 {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.player--order-04 {
  -webkit-box-ordinal-group: 5;
  -ms-flex-order: 4;
  order: 4;
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.player--align-right {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.player__photo {
  border: 5px solid #e4e4e4;
}

.player__box--details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 70%;
}

.player__name {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #a11b1b;
  margin-left: 16px;
  margin-right: 16px;
}

.player__info {
  font-family: "Averia Serif Libre", serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 2.14;
  color: #4c4c4c;
  margin-left: 16px;
  margin-right: 16px;
}

.player__box--birthplace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
}

.player__flag {
  width: 24px;
  height: 18px;
  margin: 0 10px;
}

.player__info--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.social-networks {
  font-size: 16px;
  line-height: 0.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 25px;
  max-width: 200px;
}

.social-networks--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.twitter {
  color: #5a8dbd;
}

.facebook {
  color: #184f83;
}

.instagram {
  color: #a11b1b;
}

.uppercase {
  text-transform: uppercase;
}

.not-available {
  cursor: not-allowed;
}

@media all and (min-width: 372px) {
  .background--strips {
    background-image: url(../images/layout/background_1200px.jpg);
  }
}

@media all and (min-width: 601px) {
  .blog__outer {
    width: calc(100vw - (90px *2 ));
  }
}

@media all and (min-width: 768px) {
  .header__block--inner {
    padding-left: 90px;
    margin-right: 59px;
  }

  .header__titlebar {
    padding: 5px 90px;
  }

  .footer__img {
    left: 90px;
  }

  .footer__block--red {
    width: 105px;
  }

  .footer__block--green {
    width: calc(100vw - 15px - 2px - 90px);
  }

  .footer__txt {
    padding-right: 90px;
  }
}

@media all and (min-width: 780px) {
  .blog__inner {
    top: -540px;
  }
}

@media all and (min-width: 801px) {
  .blog__outer {
    width: calc(100vw - (140px *2 ));
  }

  .blog__inner {
    top: -370px;
  }
}

@media all and (min-width: 881px) {
  .blog__inner {
    top: -540px;
  }
}

@media all and (min-width: 1081px) {
  .blog__outer {
    height: calc(100vh + 50px);
  }

  .blog__inner {
    top: -620px;
  }
}

@media all and (min-width: 1200px) {
  .header__block--inner {
    padding-left: 140px;
    margin-right: 109px;
  }

  .header__titlebar {
    padding: 5px 140px;
  }

  .footer__img {
    left: 140px;
  }

  .footer__block--red {
    width: 155px;
  }

  .footer__block--green {
    width: calc(100vw - 15px - 2px - 140px);
  }

  .footer__txt {
    padding-right: 140px;
  }
}

/*# sourceMappingURL=main.css.map */
