/* global $width--1200 */

.players {
	display        : flex;
	flex-direction : column;
	align-items    : center;
	margin         : 100px 10vw 100px;

	@media all and (min-width: 768px) {
    margin-left : 0;
    height      : auto;
    max-width   : 1199px;
    width       : 100%;
	}

	@media all and (min-width: 1200px) {
		max-width    : 1200px;
		padding-left : 35px;
	}
}

.player__outer {
	display       : flex;
	border-bottom : 1px solid $gray;
	width         : 100%;
	padding       : 30px 0;
}

.player--order-01 {
	order : 1;
}

.player--order-02 {
	order           : 2;
	flex-direction  : row-reverse;
	justify-content : flex-start;
	text-align      : right;
}

.player--order-03 {
	order : 3;
}

.player--order-04 {
	order           : 4;
	flex-direction  : row-reverse;
	justify-content : flex-start;
	text-align      : right;
}

.player__box--photo {}

.player--align-right {
	order : 2;
}

.player__photo {
	border : 5px solid $gray;
}

.player__box--details {
	display        : flex;
	flex-direction : column;
	width          : 70%;
}

.player__name {
	@include font-h4();
	margin-right : 16px;
	margin-left  : 16px;
}

.player__info {
	@include font-p();
	margin-right  : 16px;
	margin-bottom : 0;
	margin-left   : 16px;
}

.player__box--birthplace {
	display        : flex;
	align-items    : center;
	vertical-align : middle;
}

.player__flag {
	margin : 0 10px;
	height : auto;
	width  : 24px;
}

.player__info--right {
	justify-content : flex-end;
}

.social-networks {
	@include font-button();
	display         : flex;
	justify-content : flex-start;
	align-items     : flex-end;
	margin          : 0 16px;
	height          : 25px;
}

.social-networks--right {
	flex-direction : row-reverse;
}

.facebook {
  margin : 0 35px;

	@media all and (min-width: 768px) {
		margin : 0 60px;
	}
}

.twitter {
	color : $twitter-blue;
}

.facebook {
	color : $facebook-blue;
}

.instagram {
	color : $dark-red;
}

.footbal--field {
	position         : relative;
	margin-top       : 20px;
	background-image : url('https://raw.githubusercontent.com/annabranco/nipiterfc/master/src/images/layout/footballField.jpg');
	height           : 153px;
	width            : 114px;
}

.outer__footbal--field {
  display : none;

	@media all and (min-width: 768px) {
		display         : flex;
		justify-content : center;
	}
}

.footbal--field-position {
	position        : absolute;
	display         : flex;
	justify-content : center;
	align-items     : center;
	border          : 1px solid;
	border-radius   : 20px;
	background      : $dark-red;
	height          : 28px;
	width           : 28px;
	font-size       : 17px;
	color           : $white;
}

.position--GK {
	bottom     : -10px;
	left       : 43px;
	background : $green;
}

.position--RWB {
	bottom : 20px;
	right  : 5px;
}

.position--FB {
	bottom : 20px;
	left   : 43px;
}

.position--LWB {
	bottom : 20px;
	left   : 5px;
}

.position--RM {
	bottom : 63px;
	right  : 5px;
}

.position--DM {
	bottom : 38px;
	left   : 43px;
}

.position--MF {
	bottom : 63px;
	left   : 43px;
}

.position--AM {
	top  : 38px;
	left : 43px;
}

.position--LM {
	bottom : 63px;
	left   : 5px;
}

.position--RW {
	top   : 30px;
	right : 10px;
}

.position--FW {
	top  : 18px;
	left : 43px;
}

.position--ST {
	top  : 5px;
	left : 43px;
}

.position--LW {
	top  : 30px;
	left : 10px;
}

.leftFocus {
	left  : 28px;
	right : auto;
}

.rightFocus {
	left  : auto;
	right : 28px;
}
