.main {
  margin-top : $header__height;
  height     : $main__height;
}

.background--strips {
  background-image  : url('https://raw.githubusercontent.com/annabranco/nipiterfc/master/src/images/layout/background_320px.jpg');
  background-size   : 100%;
  background-repeat : repeat-y;

  @media all and (min-width: 372px) {
    background-image : url('https://raw.githubusercontent.com/annabranco/nipiterfc/master/src/images/layout/background_1200px.jpg');
  }

  @media all and (min-width: 768px) {
    display         : flex;
    justify-content : center;
  }
}

.main__principal {
  height : 100%;
  
  @media all and (min-width: 768px) {
    margin-left : 40px;
    width       : 80%;

  }
  @media all and (min-width: 1200px) {
    margin-left : 290px;
    width       : 60%;
  }
}