.nav {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  background-color: $gray;
  width: 100%;
}

.nav__link {
  @include font-h3();
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 33.333%;
  border: 1px solid black;
  text-decoration: none;

  &:hover, &.nav__link-active {
    background-color: $white;
    border-bottom: 0;
    color: $dark-red;
  }

&.nav__link-active {
  cursor: default;
}
}
