$nav--1200-height: calc(100vh - 77px - 69px);

.nav {
	z-index         : 1;
	position        : fixed;
	display         : flex;
	justify-content : space-around;
	background-color: $gray;
	width           : 100%;

	@media all and (min-width: 768px) {
		flex-direction: column;
		right         : 90px;
		width         : 256px;
	}

	@media all and (min-width: 1200px) {
		position       : fixed;
		top            : 77px;
		left           : $size--1200;
		display        : flex;
		align-items    : center;
		justify-content: flex-end;
		border         : 0;
		border-right   : 2px dashed $gray;
		box-shadow     : 0 0 0 0;
		background     : initial;
		height         : $nav--1200-height;
		width          : 396px - $size--1200;
		padding-bottom : 15vh;

		@media all and (max-height: 360px) {
			margin-top: 20vh;
		}
	}

	@media all and (max-height:400px) {
		top: 24px;
	}
}

.nav-shadow {
	box-shadow: -1px 2px 2px 1px rgba(81, 82, 81, 0.3);
}

.nav__link {
	@include font-h3();
	display        : flex;
	justify-content: center;
	align-items    : center;
	border         : 1px solid black;
	border-top     : 0;
	height         : 25px;
	width          : 33.333%;
	text-decoration: none;

	&.nav__link-active,
	&:hover {
		background-color: $white;
		border-bottom   : 0;
		color           : $dark-red;
		text-decoration : none;

		@media all and (min-width: 768px) {
			border-bottom: 1px solid black;
			color        : $dark-red;

			@media all and (min-width: 1200px) {
				border    : 0;
				background: rgba(228, 228, 228, 0.4);
			}
		}
	}

	&.nav__link-active {
		cursor: default;
	}

	@media all and (min-width: 768px) {
		width: 100%;

		&.nav__link-active {
			background-color: initial;
			color           : $green;
			cursor          : pointer;

			&:hover {
				background-color: $white;
				color           : $dark-red;
			}
		}
	}
	@media all and (min-width: 1200px) {
		@include font-h3--1200();
		margin-top   : 37px;
		border       : 0;
		padding-right: 70px;

		@media all and (max-height: 360px) {
			margin-top: 10px;
		}

	}
}

.nav__menu--title {
	display: none;
	cursor : pointer;

	@media all and (min-width: 768px) {
		@include font-h3();
		z-index        : 3;
		position       : fixed;
		top            : 53px;
		right          : 90px;
		display        : flex;
		align-items    : center;
		justify-content: center;
		border         : 1px solid black;
		background     : $gray;
		height         : 24px;
		width          : 256px;
		color          : $black;
	}

	@media all and (min-width: 1200px) {
		display: none;
	}

}

.nav__menu-title-hamburguer {
	position    : absolute;
	right       : 0;
	border      : 1px solid black;
	border-right: 0;
	background  : $nipiter-red;
	height      : 24px;
	width       : 24px;
	padding     : 5px;
	color       : $white;
}

.nav__menu-title-hamburguer {
	cursor: pointer;
}

.nav__AllLinks {
	width: 100%;
}

.nav__AllLinks--hidden {
	display: flex;

	@media all and (min-width: 768px) {
		display: none;
	}
	@media all and (min-width: 1200px) {
		display       : flex;
		flex-direction: column;

	}
}

.nav__logo {
	display: none;

	@media all and (min-width: 1200px) {
		position: fixed;
		top     : 130px;
		left    : $size--1200 - 50px;
		display : block;
		width   : 300px;
		height  : auto;

		@media all and (max-height: 490px) {
			display: none;
		}

		@media all and (max-height: 660px) {
			width: 200px;
			top  : 100px;
			left : $size--1200 +10px;
			//display: none;
		}
	}

}
