$blog__outer-height: calc(100vh - 32px);
$blog__outer-height1081: calc(100vh + 50px);

$blog__outer-width320: calc(100vw - (#{$size--320} * 2));
$blog__outer-width768: calc(100vw - (#{$size--768} *2 ));
$blog__outer-width1200: calc(100vw - (#{$size--1200} *2 ));

$blog__embed-height: calc(100% + 400px);

.blog__outer {
  // z-index: -1;
  position: relative;
  // height: 585px;
  height: $blog__outer-height;
  // width: 326px;
  width: $blog__outer-width320;
  margin: 0 auto;
  margin-top: 25px;
 -webkit-overflow-scrolling: touch;
  // overflow: hidden;
  overflow-y: scroll;

    @media all and (min-width: 601px) {
  width: $blog__outer-width768;
    }

  @media all and (min-width: 801px) {
  width: $blog__outer-width1200;
  }

  @media all and (min-width: 1081px) {
  height: $blog__outer-height1081;
  }


}
.blog__inner {
  position: absolute;
  top: -390px;
  left: -4px;
  height: $blog__embed-height;
  width: 100%;

  @media all and (min-width: 780px) {
    top: -540px;
  }

@media all and (min-width: 801px) {
  top: -370px;
}

@media all and (min-width: 881px) {
  top: -540px;
}

@media all and (min-width: 1081px) {
  top: -620px;
}

}
