$total_blog_height: calc(100% + 400px);

.blog {
  // z-index: -1;
  position: relative;
  // height: 585px;
  height: 100vh;
  width: 326px;
  margin-top: 25px;
  overflow: hidden;

}
.embed-wordpress {
  top: -400px;
  left: -4px;
  position: absolute;
  height: $total_blog_height;
  width: 100%;
}
