/* global $width--1200 */

.players {
  display       : flex;
  align-items   : center;
  flex-direction: column;
  margin        : 40px 10vw 100px;

  @media all and (min-width: 768px) {
    width    : 100%;
    max-width: 700px;
    height   : auto;
  }

  @media all and (min-width: 1200px) {
    margin-left : 397px;
    padding-left: 35px;
    max-width   : 1200px;
  }
}

.player__outer {
  display      : flex;
  border-bottom: 1px solid $gray;
  width        : 100%;
  padding      : 30px 0;
}

.player--order-01 {
  order: 1;
}

.player--order-02 {
  order          : 2;
  flex-direction : row-reverse;
  justify-content: flex-start;
  text-align     : right;
}

.player--order-03 {
  order: 3;
}

.player--order-04 {
  order          : 4;
  flex-direction : row-reverse;
  justify-content: flex-start;
  text-align     : right;
}

.player__box--photo {}

.player--align-right {
  order: 2;
}

.player__photo {
  border: 5px solid $gray;
}

.player__box--details {
  display       : flex;
  flex-direction: column;
  width         : 70%;

}

.player__name {
  @include font-h4();
  margin-left : 16px;
  margin-right: 16px;
}

.player__info {
  @include font-p();
  margin-left  : 16px;
  margin-right : 16px;
  margin-bottom: 0;
}

.player__box--birthplace {
  display       : flex;
  align-items   : center;
  vertical-align: middle;
}

.player__flag {
  margin: 0 10px;
  width : 24px;
  height: 18px;
}

.player__info--right {
  justify-content: flex-end;
}

.social-networks {
  @include font-button();
  display        : flex;
  justify-content: flex-start;
  align-items    : flex-end;
  margin         : 0 16px;
  height         : 25px;
}

.social-networks--right {
  flex-direction: row-reverse;
}

.facebook {
  margin: 0 35px;
  @media all and (min-width: 768px) {
    margin: 0 60px;
  }
}

.twitter {
  color: $twitter-blue;
}

.facebook {
  color: $facebook-blue;
}

.instagram {
  color: $dark-red;
}

.footbal--field {
  position        : relative;
  margin-top      : 20px;
  background-image: url('../images/layout/footballField.jpg');
  height          : 153px;
  width           : 114px;
}

.outer__footbal--field {
  display: none;
  @media all and (min-width: 768px) {
    display        : flex;
    justify-content: center;
  }
}

.footbal--field-position {
  position       : relative;
  display        : flex;
  align-items    : center;
  justify-content: center;
  background     : $green;
  border         : 1px solid;
  border-radius  : 20px;
  height         : 28px;
  width          : 28px;
  font-size      : 17px;
  color          : $white;
}

.position--keeper {
  position: absolute;
  bottom  : -10px;
  left    : 44px;
}

.position--fullback {
  position  : absolute;
  bottom    : 20px;
  left      : 60px;
  background: $dark-red;
}

.position--striker {
  position  : absolute;
  top       : 10px;
  left      : 44px;
  background: $dark-red;
}

.position--midfielder {
  position  : absolute;
  bottom    : 70px;
  left      : 10px;
  background: $dark-red;
}
