@import url("https://fonts.googleapis.com/css?family=Averia+Sans+Libre|Averia+Serif+Libre|Barlow");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%; }

.header__block--outer {
  background-color: #158C3F; }
  @media all and (max-height: 400px) {
    .header__block--outer {
      display: none; } }

.header__block--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e11b1c;
  height: 53px;
  padding-left: 31px; }
  @media all and (min-width: 768px) {
    .header__block--inner {
      margin-right: 59px;
      padding-left: 90px; } }
  @media all and (min-width: 1200px) {
    .header__block--inner {
      margin-right: 109px;
      padding-left: 140px; } }

.header__link {
  text-decoration: none; }
  .header__link:hover {
    text-decoration: none; }

.header__title {
  font-family: "Barlow", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.59);
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.59); }

.header__img {
  display: inline;
  height: 53px; }

.header__titlebar {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.78;
  color: #158C3F;
  background-color: #C4E2CF;
  height: 24px;
  padding: 5px 31px; }
  @media all and (min-width: 768px) {
    .header__titlebar {
      padding: 5px 90px; } }
  @media all and (min-width: 1200px) {
    .header__titlebar {
      padding: 5px 140px; } }

.nav {
  z-index: 2;
  position: fixed;
  top: 77px;
  border-top: 1px solid #a11b1b;
  height: 0;
  width: 100%;
  box-shadow: 0 3px 8px 1px rgba(76, 76, 76, 0.4); }
  @media all and (max-height: 400px) {
    .nav {
      top: 24px; } }

.nav__button {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #158C3F;
  z-index: 4;
  margin: 5px auto;
  height: 25px;
  padding: 0 20px;
  border-radius: 10px;
  font-size: 1rem;
  background-image: linear-gradient(350deg, rgba(42, 23, 54, 0.9), rgba(42, 23, 54, 0.7), rgba(196, 226, 207, 0.7));
  border: 1px solid rgba(0, 0, 0, 0.7);
  color: #ffff73;
  text-shadow: 0 0 5px #000000;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.6), inset 2px 2px 3px #ffffff;
  cursor: pointer;
  text-transform: uppercase; }
  .nav__button:hover {
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.4);
    transform: translate(0, 1px);
    color: #ffff73; }
  .nav__button.isOpened {
    background-image: linear-gradient(350deg, rgba(161, 27, 27, 0.9), rgba(161, 27, 27, 0.7), rgba(196, 226, 207, 0.7));
    box-shadow: inset 2px 2px 3px #ffffff;
    transform: translate(0, 1px);
    color: #ffffff; }

.nav__AllLinks {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0 0 50px 50px;
  height: 0;
  width: 100vw;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(42, 23, 54, 0.95);
  transition: 0.3s ease; }
  @media all and (min-width: 768px) {
    .nav__AllLinks {
      width: 50vw; } }
  .nav__AllLinks.isOpened {
    height: 100vh;
    padding-bottom: 120px;
    transition: 0.5s ease; }
    @media all and (min-width: 768px) {
      .nav__AllLinks.isOpened {
        background: rgba(42, 23, 54, 0.95);
        width: 50vw; } }

.nav__link {
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #158C3F;
  margin: 20px auto;
  font-size: 2.2rem;
  color: #ffffff; }
  .nav__link:active, .nav__link:visited {
    text-decoration: none;
    color: #ffffff; }
  .nav__link:hover {
    text-decoration: none;
    color: #ffff73; }
  @media all and (max-height: 500px) {
    .nav__link {
      margin: 5px auto; } }

.nav__logo-menu {
  z-index: 3;
  display: block;
  margin: 50px 0 0;
  width: 100px;
  opacity: 0.8; }

.nav__logo-topBar {
  display: block;
  position: fixed;
  top: 3px;
  right: 15px;
  width: 70px;
  height: auto; }
  @media all and (min-width: 768px) {
    .nav__logo-topBar {
      right: auto;
      left: 50%;
      transform: translate(-50%, 0); } }

.main {
  margin-top: 77px;
  height: calc( 100vh - 77px - 69px); }

.background--strips {
  background-image: url("https://raw.githubusercontent.com/annabranco/nipiterfc/master/src/images/layout/background_320px.jpg");
  background-size: 100%;
  background-repeat: repeat-y; }
  @media all and (min-width: 372px) {
    .background--strips {
      background-image: url("https://raw.githubusercontent.com/annabranco/nipiterfc/master/src/images/layout/background_1200px.jpg"); } }
  @media all and (min-width: 768px) {
    .background--strips {
      display: flex;
      justify-content: center; } }

.main__principal {
  height: 100%; }
  @media all and (min-width: 768px) {
    .main__principal {
      width: 80%; } }

.home_container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(145, 236, 168, 0.4)), url("https://www.scenolia.com/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/2/2/22055.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  text-align: center; }

.home__logo {
  z-index: 3;
  margin: 20vh auto 30px;
  width: 50%; }
  @media all and (min-width: 500px) {
    .home__logo {
      width: 50%; } }
  @media all and (min-width: 700px) {
    .home__logo {
      width: 30%; } }

.home__title {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.78;
  color: #158C3F;
  background: rgba(255, 255, 255, 0.4);
  width: 100vw;
  text-shadow: 0 0 2px #ffffff;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000000; }

.blog__outer {
  position: relative;
  margin: 25px auto 0;
  height: calc(100vh - 32px);
  width: calc(100vw - (31px * 2));
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  @media all and (min-width: 601px) {
    .blog__outer {
      width: calc(100vw - (120px *2)); } }
  @media all and (min-width: 1081px) {
    .blog__outer {
      margin-top: 0; } }
  @media all and (min-width: 1200px) {
    .blog__outer {
      width: calc(100vw - 530px); } }

.blog__inner {
  position: absolute;
  top: -320px;
  left: -4px;
  height: calc(100% + 500px);
  width: 100%; }
  @media all and (min-width: 780px) {
    .blog__inner {
      top: -470px; } }
  @media all and (min-width: 981px) {
    .blog__inner {
      top: -550px; } }
  @media all and (min-width: 1081px) {
    .blog__inner {
      top: -530px; } }
  @media all and (min-width: 1200px) {
    .blog__inner {
      top: -480px; } }
  @media all and (min-width: 1330px) {
    .blog__inner {
      top: -560px; } }

/* global $width--1200 */
.players {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
  height: calc( 100vh - 77px - 69px); }
  @media all and (min-width: 768px) {
    .players {
      margin-left: 0;
      max-width: 1199px;
      width: 100%; } }
  @media all and (min-width: 1200px) {
    .players {
      max-width: 1200px; } }

.shirts__container {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 -10vw;
  width: 100vw;
  height: 200px;
  overflow-x: scroll;
  overflow-y: noscroll;
  scroll-behavior: smooth; }
  @media all and (min-width: 768px) {
    .shirts__container {
      right: -60px; } }
  @media all and (min-width: 1024px) {
    .shirts__container {
      right: -100px; } }

.shirts__photo {
  width: 100%;
  min-width: 70px;
  max-width: 90px;
  transition: 0.5s ease;
  filter: grayscale(0.3);
  cursor: pointer; }
  .shirts__photo:hover, .shirts__photo:active {
    z-index: 3;
    transform: scale(2) translate(0, -12px);
    filter: grayscale(0);
    transition: 0.5s ease; }

.squad__background-container {
  height: calc( 100vh - 77px - 69px);
  overflow: hidden; }

.squad__background {
  height: 100%;
  min-width: 100vw;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
  filter: grayscale(0.5); }

.player__outer {
  z-index: 1;
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  width: 100%;
  max-width: 368px;
  padding: 30px 0; }

.player__box--photo {
  z-index: 0;
  position: relative;
  width: 100%; }

.player__photo {
  z-index: 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border: 5px solid #e4e4e4;
  width: 100%;
  max-width: 368px; }

.player__box--details.showDetails {
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
  width: calc(100% - 10px);
  height: 37%;
  min-height: 230px;
  box-sizing: border-box;
  margin: 5px;
  padding: 5px; }

.player__name {
  z-index: 2;
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: "Averia Sans Libre", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #a11b1b;
  height: 60px;
  color: #ffffff;
  font-size: 3rem;
  background: rgba(0, 0, 0, 0.5);
  width: calc(100% - 10px);
  padding: 0 20px 10px;
  line-height: 1.2; }
  .player__name.showDetails {
    position: static;
    background: none;
    margin: -5px -5px 0;
    color: #e11b1c; }

.moreInfo {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 25px;
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
  font-size: 1.5rem;
  color: #184f83;
  opacity: 0.8;
  cursor: pointer; }
  .moreInfo:hover {
    box-shadow: 0 0 10px 1px #ffffff; }
  .moreInfo.showDetails {
    top: 15px;
    right: 20px;
    color: #a11b1b; }

.player__info {
  display: none; }
  .player__info.showDetails {
    display: block;
    font-family: "Averia Serif Libre", serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 2.14;
    color: #4c4c4c;
    margin: 5px 16px;
    height: 20px;
    color: #e4e4e4; }

.player__box--birthplace {
  display: none; }
  .player__box--birthplace.showDetails {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-top: 20px; }

.player__flag {
  margin: 0 10px;
  height: auto;
  width: 24px; }

.social-networks {
  display: none; }
  .social-networks.showDetails {
    font-size: 16px;
    line-height: 0.88;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 10px 16px 0;
    height: 25px;
    width: 50%; }

.sw-icon {
  background: rgba(255, 255, 255, 0.9);
  height: 26px;
  width: 26px;
  border-radius: 5px;
  text-align: center;
  line-height: 1.1;
  font-size: 1.5rem;
  filter: saturate(1.5); }

.facebook {
  margin: 0 35px; }
  @media all and (min-width: 768px) {
    .facebook {
      margin: 0 60px; } }

.twitter {
  color: #5a8dbd; }

.facebook {
  color: #184f83; }

.instagram {
  color: #a11b1b; }

.blackscreen {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw; }

.footbal--field {
  display: none; }
  .footbal--field.showDetails {
    display: block;
    position: relative;
    margin-top: 20px;
    background-image: url("https://raw.githubusercontent.com/annabranco/nipiterfc/master/src/images/layout/footballField.jpg");
    height: 153px;
    width: 114px; }

.outer__footbal--field {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center; }

.footbal--field-position {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 20px;
  background: #a11b1b;
  height: 28px;
  width: 28px;
  font-size: 17px;
  color: #ffffff; }

.position--GK {
  bottom: -10px;
  left: 43px;
  background: #048e3c; }

.position--RWB {
  bottom: 20px;
  right: 5px; }

.position--FB {
  bottom: 20px;
  left: 43px; }

.position--LWB {
  bottom: 20px;
  left: 5px; }

.position--RM {
  bottom: 63px;
  right: 5px; }

.position--DM {
  bottom: 38px;
  left: 43px; }

.position--MF {
  bottom: 63px;
  left: 43px; }

.position--AM {
  top: 38px;
  left: 43px; }

.position--LM {
  bottom: 63px;
  left: 5px; }

.position--RW {
  top: 30px;
  right: 10px; }

.position--FW {
  top: 18px;
  left: 43px; }

.position--ST {
  top: 5px;
  left: 43px; }

.position--LW {
  top: 30px;
  left: 10px; }

.leftFocus {
  left: 28px;
  right: auto; }

.rightFocus {
  left: auto;
  right: 28px; }

.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ffffff;
  height: 69px;
  width: 100%; }
  @media all and (max-height: 400px) {
    .footer {
      bottom: -20px; } }

.footer__img {
  z-index: 1;
  position: absolute;
  bottom: 7px;
  left: 31px;
  height: 61px; }
  @media all and (min-width: 768px) {
    .footer__img {
      left: 90px; } }
  @media all and (min-width: 1200px) {
    .footer__img {
      left: 140px; } }

.footer__block--red {
  background-color: #e11b1c;
  height: 100%;
  width: 46px; }
  @media all and (min-width: 768px) {
    .footer__block--red {
      width: 105px; } }
  @media all and (min-width: 1200px) {
    .footer__block--red {
      width: 155px; } }

/* (screen - size_of_red - blank_strip); */
.footer__block--green {
  background-color: #158C3F;
  height: 100%;
  width: calc(100vw - 15px - 2px - 31px);
  padding: 10px 0; }
  @media all and (min-width: 768px) {
    .footer__block--green {
      width: calc(100vw - 15px - 2px - 90px); } }
  @media all and (min-width: 1200px) {
    .footer__block--green {
      width: calc(100vw - 15px - 2px - 140px); } }

.footer__txt {
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  z-index: 1;
  margin-bottom: 0;
  padding-right: 31px;
  text-align: right; }
  @media all and (min-width: 768px) {
    .footer__txt {
      padding-right: 90px; } }
  @media all and (min-width: 1200px) {
    .footer__txt {
      padding-right: 140px; } }

.footer__version {
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.6;
  color: #ffffff;
  z-index: 2;
  position: absolute;
  bottom: 6px;
  right: 31px;
  color: #000000; }
  @media all and (min-width: 768px) {
    .footer__version {
      right: 90px; } }
  @media all and (min-width: 1200px) {
    .footer__version {
      right: 140px; } }

.footer__whitebar {
  position: absolute;
  bottom: 7px;
  background-color: #ffffff;
  height: 13px;
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.not-available {
  cursor: not-allowed; }
