$nav--1200-height: calc(100vh - 77px - 69px);

.nav {
	z-index    : 2;
	position   : fixed;
	top        : 77px;
	border-top : 1px solid $dark-red;
	height     : 0;
	width      : 100%;
	box-shadow : 0 3px 8px 1px rgba($dark-gray, 0.4);

	@media all and (max-height:400px) {
		top : 24px;
	}
}

.nav__button {
  @include font-h3();
  z-index          : 4;
  margin           : 5px auto;
  height           : 25px;
  padding          : 0 20px;
  border-radius    : 10px;
  font-size        : 1rem;
  background-image : linear-gradient(350deg,rgba($feminist-purple,0.9),rgba($feminist-purple,0.7),rgba($light-green,0.7));
  border           : 1px solid rgba($black,0.7);
  color            : $yellow;
  text-shadow      : 0 0 5px $black;
  box-shadow       : 3px 3px 10px 1px rgba($black,0.6), inset 2px 2px 3px $white;
  cursor           : pointer;
  text-transform   : uppercase;

  &:hover {
    box-shadow : inset 2px 2px 3px rgba($black,0.4);
    transform  : translate(0,1px);
    color      : $yellow;
  }

  &.isOpened {
    background-image : linear-gradient(350deg,rgba($dark-red,0.9),rgba($dark-red,0.7),rgba($light-green,0.7));
    box-shadow       : inset 2px 2px 3px $white;
    transform        : translate(0,1px);
    color            : $white;
  }
}

.nav__AllLinks {
  z-index         : 3;
  position        : absolute;
  top             : 0;
  left            : 50%;
  transform       : translate(-50%, 0);
  border-radius   : 0 0 50px 50px;
  height          : 0;
  width           : 100vw;
  display         : flex;
  overflow        : hidden;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  background      : rgba($feminist-purple,0.95);
  transition      : 0.3s ease;

  @media all and (min-width: 768px) {
    width : 50vw;
  }

&.isOpened {
  height         : 100vh;
  padding-bottom : 120px;
  transition     : 0.5s ease;

  @media all and (min-width: 768px) {
    background : rgba($feminist-purple,0.95);
    width      : 50vw;
  }
}
	@media all and (min-width: 1200px) {
	}
}

.nav__link {
  @include font-h3();
  margin    : 20px auto;
  font-size : 2.2rem;
  color     : $white;

  &:active, &:visited {
    text-decoration : none;
    color           : $white;
  }

  &:hover {
    text-decoration : none;
    color           : $yellow;
  }

  @media all and (max-height:500px) {
    margin : 5px auto;
  }
}

.nav__logo-menu {
  z-index : 3;
  display : block;
  margin  : 50px 0 0;
  width   : 100px;
  opacity : 0.8;
}

.nav__logo-topBar {
	display  : block;
	position : fixed;
	top      : 3px;
	right    : 15px;
	width    : 70px;
	height   : auto;

	@media all and (min-width: 768px) {
		right     : auto;
		left      : 50%;
		transform : translate(-50%,0);

	}
}
